#procedureScreen .procedure__tipsSectionContent, #procedureScreen #procedureSection .procedure__timeLineContainer .procedure__stepNumber--card {
  background-color: #98eaf6;
  border-radius: 20px;
}

.customBtn {
  transition: background-color 0.2s;
  width: auto;
  height: auto;
  display: inline-block;
  border-radius: 10px;
  background-color: #fedd02;
  color: #2b2c2c;
  padding: 10px 30px;
  font-size: 1.1rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}
.customBtn .btnIcon {
  font-size: 1.2rem;
  transform: translateY(4px);
  margin: 0 !important;
}
.customBtn .btnIcon.ml-10 {
  padding-left: 10px;
}
.customBtn .btnIcon.mr-10 {
  padding-right: 10px;
}

.customBtn__outlined.disabled {
  background-color: transparent;
  border: 1px solid #b0bec5;
}

.customBtn__text.disabled {
  background-color: transparent;
}

.customBtn--fullRounded {
  border-radius: 20px;
}

.customBtn__contained {
  background-color: #2b2c2c;
  border: none;
  color: #ffffff;
  text-decoration: none;
}
.customBtn__contained:hover {
  background-color: #2c3e77;
  border: none;
  color: #ffffff;
  text-decoration: none;
}
.customBtn__contained:focus {
  background-color: #42579d;
  border: none;
  color: #ffffff;
  text-decoration: none;
}

.customBtn__contained--small {
  padding: 5px 15px;
  font-size: 0.8rem;
}

.customBtn__contained--medium {
  padding: 10px 30px;
  font-size: 1.1rem;
}

.customBtn__contained--large {
  padding: 12px 42px;
  font-size: 1.3rem;
}

.customBtn__outlined {
  background-color: transparent;
  border: 1px solid #2b2c2c;
  color: #2b2c2c;
  text-decoration: none;
}
.customBtn__outlined:hover {
  background-color: #2b2c2c;
  border: 1px solid #2b2c2c;
  color: #ffffff;
  text-decoration: none;
}
.customBtn__outlined:focus {
  background-color: #2c3e77;
  border: 1px solid #2b2c2c;
  color: #ffffff;
  text-decoration: none;
}

.customBtn__outlined--small {
  padding: 5px 15px;
  font-size: 0.8rem;
}

.customBtn__outlined--medium {
  padding: 10px 30px;
  font-size: 1.1rem;
}

.customBtn__outlined--large {
  padding: 12px 42px;
  font-size: 1.3rem;
}

.customBtn__text {
  background-color: transparent;
  border: none;
  color: #2b2c2c;
  text-decoration: none;
}
.customBtn__text:hover {
  background-color: transparent;
  border: none;
  color: #2c3e77;
  text-decoration: underline;
}
.customBtn__text:focus {
  background-color: transparent;
  border: none;
  color: #42579d;
  text-decoration: none;
}

.customBtn__text--small {
  font-size: 0.8rem;
}

.customBtn__text--medium {
  font-size: 1.1rem;
}

.customBtn__text--large {
  font-size: 1.69rem;
}

.customBtn__fab {
  box-shadow: 0 8px 17px 2px rgba(71, 69, 69, 0.023) !important, 0 3px 14px 2px rgba(71, 69, 69, 0.023) !important, 0 5px 5px -3px rgba(71, 69, 69, 0.023) !important;
}
.customBtn__fab:hover {
  background-color: #2c3e77;
  border: none;
  color: #ffffff;
  text-decoration: none;
}

.customBtn__fab--small {
  width: 44.6153846154px;
  height: 44.6153846154px;
  padding: 23.0769230769px;
  font-size: 0.8rem;
}

.customBtn__fab--medium {
  width: 58px;
  height: 58px;
  padding: 30px;
  font-size: 1.1rem;
}

.customBtn__fab--large {
  width: 81.2px;
  height: 81.2px;
  padding: 42px;
  font-size: 1.3rem;
}

.customBtn__fab {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fedd02;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .customBtn__contained:hover,
.customBtn__fab:hover {
    background-color: #fedd02;
    color: #ffffff;
  }

  .customBtn__fab:hover i {
    color: #ffffff;
  }

  .customBtn__outlined:hover {
    background-color: transparent;
    color: #2b2c2c;
    border: 1px solid #2b2c2c;
  }

  .customBtn__text:hover {
    background-color: transparent;
    color: #2b2c2c;
    text-decoration: none;
  }
}
footer {
  padding: 3rem 0;
  z-index: 9 !important;
}
footer p,
footer a,
footer h1 {
  color: #2b2c2c;
}
footer .footer__contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .footer__brand-container,
footer .footer__nav {
  transform: translateY(8px);
}
footer .footer__btn-contact.customBtn {
  padding: 10px 15px;
  margin: 0;
}
footer .footer__btn-contact.customBtn i {
  margin-right: 10px;
}
footer .footer__contact-container {
  display: flex;
}
footer .footer__social-networks {
  transform: translateY(16px);
  margin-left: 20px;
}
footer .socialMediaLink a i {
  font-size: 1.5rem;
}
footer .footer__nav-list {
  display: flex;
}
footer .footer__social-networks li,
footer .footer__nav-list li {
  margin-right: 20px;
}
footer .footer__nav-list li a:hover {
  color: #42579d;
}
footer .copyright__separator {
  margin: 0 10px;
}
footer .footer__btn-contact.customBtn:hover {
  border: 1px solid #2b2c2c;
}
footer .footer__btn-contact.customBtn:hover p,
footer .footer__btn-contact.customBtn:hover i {
  color: #ffffff;
}

#tipsScreen .footer__btn-contact.customBtn,
#faqsScreen .footer__btn-contact.customBtn {
  border-color: #ffffff;
}
#tipsScreen .footer__btn-contact.customBtn:hover,
#faqsScreen .footer__btn-contact.customBtn:hover {
  border: 1px solid #2b2c2c;
}

@media (max-width: 600px) {
  footer {
    padding: 0;
  }
  footer .footer__social-networks {
    transform: translateY(11px);
    margin-left: 40px;
  }
  footer .footer__social-networks .socialMediaLink a i {
    font-size: 2rem;
    padding-right: 20px;
  }
  footer .footer__nav-list {
    margin-bottom: 10px;
  }
  footer .footer__nav-list,
footer .footer__copyright-container {
    display: flex;
    flex-direction: column;
  }
  footer .footer__nav-list li a,
footer .footer__copyright-container li a {
    font-size: 1.5rem;
    line-height: 60px;
  }
  footer .footer__nav-list .copyright,
footer .footer__copyright-container .copyright {
    margin: 30px 0;
  }
  footer .footer__contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer__contact-container .footer__btn-contact {
    margin: 30px 0;
  }
  footer .footer__contact-container .footer__copyright-container .alignX {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
  }

  .copyright__separator {
    display: none;
  }

  .footerTerms {
    display: block;
  }
}
form {
  margin-right: 10vh;
}
form .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dafeff;
  display: block;
  border-radius: 0;
  margin-bottom: 15px;
  color: #ffffff;
  padding-right: 0;
}

.ocult {
  display: none;
  opacity: 0;
}

label {
  margin-bottom: 0.2rem;
  padding-left: 0;
  font-weight: 300;
  color: #dafeff;
  font-size: 1rem;
}

.form-control.active,
.form-control:focus {
  background-color: transparent !important;
  border-bottom: 1px solid #dafeff;
  color: #ffffff;
}

.btn-submit {
  width: 25%;
  margin-top: 8px;
  border: 1px solid #dafeff;
  font-size: 15px;
  color: #dafeff;
}

.btn-submit.disabledState {
  opacity: 0.5;
  color: #b0bec5 !important;
  border: 1px solid #b0bec5 !important;
}

#loaders {
  text-align: center;
}

#loaders img {
  width: 150px;
  margin: 0 auto;
}

#spinner {
  display: none;
}

.spinner-grow {
  background-color: #42579d;
}

.send-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  display: none;
  background-color: none;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.send-overlay.showLoading {
  position: fixed;
  opacity: 1;
  display: block;
  background-color: rgba(0, 0, 0, 0.66);
  z-index: 9999999999;
  transition: 0.3s ease-in-out;
}

.progress-content {
  margin-top: 20%;
  margin-bottom: 20%;
}

.sended-container {
  transform: translateY(0);
  display: block;
  opacity: 1;
  margin: 0 50px;
  transform: translateY(-50px);
}

.sended-container.ocult {
  transform: translateY(-20px);
  display: none;
  opacity: 0;
}

.sended-message {
  padding: 20px;
  margin-bottom: 18px;
  background-color: #767676;
}

.sended-message h4 {
  color: #ffffff;
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}

.sended-message p {
  color: #ffffff;
  margin: 0;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  font-weight: 500;
}

@media (max-width: 600px) {
  form {
    padding-bottom: 0 !important;
    margin-right: 0;
  }
  form .btn-submit {
    background-color: transparent;
    border-color: #52cec2;
    color: #52cec2;
    width: 100%;
  }
  form .btn-submit.hoverState:hover, form .btn-submit.hoverState:active, form .btn-submit.hoverState:focus {
    background-color: #52cec2;
    border-color: #52cec2;
    color: #ffffff;
  }
  form .btn-submit:hover, form .btn-submit:active, form .btn-submit:focus {
    background-color: transparent;
    border-color: #52cec2;
    color: #52cec2;
  }

  .sended-container {
    margin: 0;
  }
}
header {
  width: 100%;
  position: fixed;
  z-index: 9999 !important;
}

.sectionHeader,
.sectionHeader .alignMiddleY {
  height: 70vh;
  min-height: 70vh;
}

.sectionHeader {
  margin-top: 20vh;
  border-radius: 40px;
  padding: 0 50px;
  margin-bottom: 10vh;
  overflow: hidden;
  position: relative;
}
.sectionHeader .headerContent {
  position: absolute;
  z-index: 999;
}
.sectionHeader .headerContent h3 {
  margin: 10px 0;
  font-size: 3.5rem;
  font-weight: 800;
}
.sectionHeader .headerContent .hashtagsList {
  position: relative;
}
.sectionHeader .headerContent .hashtagsList li {
  display: inline-block;
}

#cvsScreen .sectionHeader .image3D {
  transform: translateX(-4px);
}

#procedureScreen .sectionHeader .image3D {
  transform: translateY(-4px);
}

#tipsScreen .sectionHeader .image3D {
  width: 100%;
  height: 80%;
}

#faqsScreen .sectionHeader {
  overflow: inherit;
}
#faqsScreen .sectionHeader .image3D {
  width: 100%;
  height: 120%;
  transform: translateX(-200px) translateY(70px);
  position: absolute;
}

#homeScreen .sectionHeader {
  background-image: linear-gradient(to right, #3c3d4019, #f0eeee3e);
}

#procedureScreen .sectionHeader {
  background-image: linear-gradient(to right, #65c3d1, #98eaf6);
}

#cvsScreen .sectionHeader {
  background-image: linear-gradient(to right, #3c3d4019, #f0eeee3e);
}

#tipsScreen .sectionHeader {
  background-image: linear-gradient(to right, #767676, #9f9e9e);
}

#faqsScreen .sectionHeader {
  background-image: linear-gradient(to right, #9ba8f7, #8092ff);
}

#termsScreen .sectionHeader {
  background-image: linear-gradient(to right, #3c3d4019, #f0eeee3e);
}

#policyScreen .sectionHeader {
  background-image: linear-gradient(to right, #3c3d4019, #f0eeee3e);
}

@media (max-width: 600px) {
  .sectionHeader,
.sectionHeader .alignMiddleY {
    height: 50vh;
    min-height: 50vh;
  }

  .sectionHeader {
    margin-top: 80px;
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
  }
  .sectionHeader .headerContent h3 {
    margin: 10px 0;
    font-size: 2.5rem;
    font-weight: 800;
    position: relative;
  }
  .sectionHeader .row {
    position: relative;
  }
  .sectionHeader .row .contentHero {
    opacity: 0.3;
  }
  .sectionHeader .row .contentHero .image3D {
    width: 150%;
    height: 120%;
  }
  .sectionHeader .row .contentInfo {
    height: auto;
    max-height: auto;
    z-index: 999;
  }

  #cvsScreen .sectionHeader .image3D {
    width: 130%;
    transform: translateY(10px) translateX(-110px);
  }

  #faqsScreen .sectionHeader {
    overflow: hidden;
  }
  #faqsScreen .sectionHeader .image3D {
    width: 300%;
    height: 300%;
    transform: translateY(100px) translateX(10px);
  }
}
.navbar {
  height: 20vh;
  min-height: 20vh;
  transition: 0.1s ease-in-out;
}
.navbar .navbar-brand {
  align-items: center;
}
.navbar .navbar-brand .brand-logo {
  height: 50px;
  margin-right: 15px;
}
.navbar .navbar-brand h3 {
  margin: 0;
  font-size: 1.8rem;
}
.navbar .navLink {
  padding: 10px 20px;
  border-radius: 30px;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
  color: #000000;
  transition: 0.1s ease-in-out;
}
.navbar .navLink:hover {
  background-color: #3c3d4019;
}
.navbar.changeState {
  height: 12vh;
  min-height: 12vh;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s ease-in-out;
}
.navbar.changeState .brand-logo {
  transform: scale(0.7);
  margin-right: 12px;
  transition: 0.1s ease-in-out;
}

#homeScreen .navbar .navLink.changeState {
  color: #ffffff;
}
#homeScreen .navbar.changeState {
  background-color: rgba(0, 0, 0, 0.27);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
#homeScreen .navbar.changeState .brand-logo.invert {
  filter: brightness(0) invert(1);
}
#homeScreen .navbar.changeState .brand-logo.invert .navLink {
  color: #ffffff;
}
#homeScreen .navbar.changeState .arrow-to-top i {
  color: #ffffff;
}

#procedureScreen .navbar.changeState {
  background-color: #98eaf6;
}

#cvsScreen .navbar.changeState {
  background-color: #ffffff;
}

#tipsScreen .navbar.changeState {
  background-color: #9f9e9e;
}

#faqsScreen .navbar.changeState {
  background-color: #8092ff;
}

#termsScreen .navbar.changeState {
  background-color: #ffffff;
}

#policyScreen .navbar.changeState {
  background-color: #ffffff;
}

@media (min-width: 992px) {
  .navbar-nav {
    display: flex !important;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    display: none;
  }
}
@media (min-width: 576px) {
  .navbar-nav {
    display: none;
  }
}
@media (max-width: 600px) {
  .navbar {
    padding: 0;
    height: auto;
    min-height: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  }
  .navbar .navbar-brand .brand-logo {
    height: 35px;
    margin-right: 10px;
  }
  .navbar .navbar-brand h3 {
    display: none;
  }
  .navbar.changeState {
    height: auto;
    min-height: auto;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  .navbar.changeState .brand-logo {
    transform: none;
    margin-right: 12px;
    transition: 0.1s ease-in-out;
  }

  .navbar-nav {
    display: none;
  }
}
.tag {
  padding: 6px 15px;
  border-radius: 20px;
  background-color: #3c3d40;
  color: #ffffff;
  display: inline;
  font-size: 14px;
  font-weight: 300;
  margin: 5px;
}

.sidenav {
  width: 100%;
  position: fixed;
  background-color: transparent;
  right: 0;
  border-left: 0;
}
.sidenav .offcanvas-body .sidenav-nav {
  align-items: flex-end;
  margin-right: 50px;
}
.sidenav .offcanvas-body .sidenav-nav .sidenav-item {
  margin: 15px 0;
}
.sidenav .offcanvas-body .sidenav-nav .sidenav-item a {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  transition: 0.1s ease-in-out;
}
.sidenav .offcanvas-body .sidenav-nav .sidenav-item a:hover {
  color: #b0bec5;
  transition: 0.1s ease-in-out;
}
.sidenav .offcanvas-body .alignMiddleY {
  height: 90vh;
}

/* menu hamburguesa */
.navbar-toggler {
  border: none;
  border-radius: none;
  padding-right: 0;
}
.navbar-toggler .burguer {
  position: relative;
  z-index: 999999999;
}

.burguer-item {
  width: 26px;
  height: 3px;
  border-radius: 10px;
  background-color: #2b2c2c;
  margin-bottom: 5px;
}

#homeScreen .burguer-item.changeState {
  background-color: #ffffff;
}

#cvsScreen .burguer-item,
#procedureScreen .burguer-item {
  background-color: #000000;
}

#tipsScreen .burguer-item,
#faqsScreen .burguer-item {
  background-color: #ffffff;
}

.animate {
  background-color: #ffffff;
}

.burguer1.animate {
  transform: rotate(45deg) translateY(3px) translateX(8px);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burguer3.animate {
  width: 26px;
  transform: rotate(-45deg) translateY(-3.5px) translateX(8.4px);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burguer2.animate {
  width: 0;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burguer1.adjust,
.burguer2.adjust {
  transform: rotate(0deg) translateY(0);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burguer3.adjust {
  transform: translateX(0);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-burguer {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

@media (min-width: 768px) {
  .navbar-toggler {
    padding: 0.5rem 1.5rem;
  }
}
@media (min-width: 576px) {
  .navbar-toggler {
    padding: 0.5rem 1.5rem;
  }
}
@media (max-width: 600px) {
  .navbar-toggler {
    padding: 20px 8px;
  }
}
.bottom-sheet-contact {
  height: 100vh;
  max-height: 100vh;
  background-color: #3c3d40;
  position: fixed;
  z-index: 9999999999;
}
.bottom-sheet-contact .offcanvas-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.bottom-sheet-contact .offcanvas-header .btn-close-contact i {
  padding: 8px;
  border-radius: 30px;
  background-color: #2b2c2c;
  color: #ffffff;
  font-size: 15px;
}
.bottom-sheet-contact .offcanvas-body {
  overflow: hidden;
}
.bottom-sheet-contact .offcanvas-body figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bottom-sheet-contact .offcanvas-body .image3D {
  width: 60%;
  position: relative;
  transform: translateY(100px);
  opacity: 0.3;
}

@media (max-width: 600px) {
  .bottom-sheet-contact .offcanvas-body .image3D {
    display: none;
  }
}
.tipsModal {
  position: fixed;
  z-index: 9999999999;
}
.tipsModal .modal-content {
  background-color: #9f9e9e;
  border: none;
}
.tipsModal .modal-content .modal-header h5 {
  color: #ffffff;
}
.tipsModal .modal-content .modal-body {
  padding-bottom: 10vh;
}
.tipsModal .modal-content .modal-body h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.tipsModal .modal-content .modal-body p {
  font-size: 1.3rem !important;
  font-weight: 300;
  margin-top: 20px;
}
.tipsModal .modal-content .modal-header,
.tipsModal .modal-content .modal-footer {
  border: none;
}
.tipsModal .modal-content .modal-footer .customBtn {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.tipsModal .modal-content .modal-footer .customBtn:hover {
  border: 1px solid #000000;
}

@media (max-width: 600px) {
  #tipsScreen .tips__tipCard .card-header,
#tipsScreen .tips__tipCard .card-body,
#tipsScreen .tips__tipCard .card-footer {
    padding: 0 !important;
  }
}
.arrow-to-top {
  display: none;
  position: fixed;
  right: 0;
  margin-right: 30px;
}
.arrow-to-top i {
  color: #2b2c2c;
}

#procedureScreen .procedure__tipsSectionContent, #procedureScreen #procedureSection .procedure__timeLineContainer .procedure__stepNumber--card {
  background-color: #98eaf6;
  border-radius: 20px;
}

#procedureScreen .procedure__tipsSectionContent, #procedureScreen #procedureSection .procedure__timeLineContainer .procedure__stepNumber--card {
  background-color: #98eaf6;
  border-radius: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  font-weight: 500;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

i,
a,
button {
  cursor: pointer;
}

section {
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: none;
}

img {
  width: 100%;
}

.imgCv {
  width: 70%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h1,
h2,
h3,
p,
a,
i {
  color: #2b2c2c;
}

#tipsScreen h1,
#tipsScreen h2,
#tipsScreen h3,
#tipsScreen p,
#tipsScreen a,
#tipsScreen i,
#faqsScreen h2,
#faqsScreen h3,
#faqsScreen p,
#faqsScreen a,
#faqsScreen i,
#tipsScreen .copyright__separator,
#faqsScreen .copyright__separator {
  color: #ffffff;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  margin-top: 15px;
  margin-bottom: 30px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

p,
ul,
.row,
.col-sm,
.col-md-6,
.col-md-3,
.col-md-9 {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
}

.elevation1 {
  box-shadow: 0 8px 17px 2px rgba(71, 69, 69, 0.023), 0 3px 14px 2px rgba(71, 69, 69, 0.023), 0 5px 5px -3px rgba(107, 35, 35, 0.023);
}

.elevation2 {
  box-shadow: 0 8px 17px 2px rgba(71, 69, 69, 0.046), 0 3px 14px 2px rgba(71, 69, 69, 0.046), 0 5px 5px -3px rgba(107, 35, 35, 0.046);
}

.elevation3 {
  box-shadow: 0 8px 17px 2px rgba(71, 69, 69, 0.069), 0 3px 14px 2px rgba(71, 69, 69, 0.069), 0 5px 5px -3px rgba(107, 35, 35, 0.069);
}

.elevation4 {
  box-shadow: 0 8px 17px 2px rgba(71, 69, 69, 0.092), 0 3px 14px 2px rgba(71, 69, 69, 0.092), 0 5px 5px -3px rgba(107, 35, 35, 0.092);
}

.elevation5 {
  box-shadow: 0 8px 17px 2px rgba(71, 69, 69, 0.115), 0 3px 14px 2px rgba(71, 69, 69, 0.115), 0 5px 5px -3px rgba(107, 35, 35, 0.115);
}

.noElevation {
  box-shadow: none;
}

.alignX {
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.alignY {
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.goDown {
  display: block;
}

.pushAside {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.disabled {
  box-shadow: none;
  pointer-events: none;
  color: #42579d;
  cursor: default;
  border: none;
  background-color: #b0bec5;
}

.autoHeight {
  min-height: auto;
  height: auto;
}

.centerMiddle,
.alignMiddleY {
  height: 100vh;
}

.centerMiddle {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.alignMiddleY {
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.alignMiddleX {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.initMayus {
  text-transform: initial;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b0bec5;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #b0bec5;
}

.customCard {
  background-color: #ffffff;
  border-radius: 5px;
}

/* backgrounds */
#index__tipsSection h2,
#index__tipsSection h3,
#index__faqsSection h2,
#index__faqsSection h3 {
  color: #ffffff;
}

#index__homeSection {
  background-color: #fedd02;
}

#index__procedureSection,
#procedureScreen {
  background-color: #98eaf6;
}

#procedureScreen footer {
  background-color: #65c3d1;
}

#index__tipsSection,
#tipsScreen {
  background-color: #9f9e9e;
}

#tipsScreen footer {
  background-color: #767676;
}

#index__faqsSection,
#faqsScreen,
#faqsScreen footer,
#homeScreen footer {
  background-color: #8092ff;
}

.scrollAppear {
  display: none;
}

/* oculto borde selected bootstrap de todos los componentes */
*:focus,
button:focus,
.form-control:focus {
  outline: none !important;
  outline: 0 !important;
  outline: hidden !important;
  box-shadow: none !important;
}

.noPadding {
  padding-right: 0 !important;
  overflow-y: inherit;
}

@media (min-width: 576px) {
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}
@media (max-width: 600px) {
  section {
    height: auto;
    min-height: auto;
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }

  .goDown {
    display: inline;
  }
}
#errorScreen .customBtn {
  color: #767676;
}
#errorScreen .customBtn i {
  width: 30px;
  color: #767676;
}
#errorScreen .customBtn:hover {
  color: #ffffff;
  text-decoration: none;
}
#errorScreen #error__errorSection {
  background-color: #202020;
}
#errorScreen #error__errorSection img {
  width: 80%;
}
#errorScreen #error__errorSection footer {
  background-color: #202020;
}

#procedureScreen {
  background-image: linear-gradient(to bottom, #98eaf6, #65c3d1);
}
#procedureScreen #procedureSection {
  height: auto;
}
#procedureScreen #procedureSection .procedure__timeLineContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}
#procedureScreen #procedureSection .procedure__timeLineContainer .procedure__stepNumber--card {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#procedureScreen #procedureSection .procedure__timeLineContainer .procedure__stepNumber--card .procedure__stepNumber {
  font-size: 3rem;
  position: absolute;
}
#procedureScreen #procedureSection .procedure__timeLineContainer .procedure__lineContainer {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#procedureScreen #procedureSection .procedure__timeLineContainer .procedure__lineContainer .procedure__timeLine {
  background-color: #2b2c2c;
  width: 8px;
  height: 50px;
  margin: 25px 0;
}
#procedureScreen #procedureSection .procedure__stepDescription {
  padding: 0 50px;
}
#procedureScreen #procedureSection .procedure__stepDescription p {
  font-size: 1.5rem;
}
#procedureScreen #procedureSection .procedure__iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#procedureScreen #procedureSection .procedure__iconContainer .icon {
  height: 150px;
  width: auto;
  display: inline;
  margin-left: 50px;
}
#procedureScreen #procedureSection .procedure__stepDescription {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-30px);
}
#procedureScreen .procedure__tipsSectionContent {
  padding: 30px;
  margin: 10vh 0;
  border: none;
  overflow: hidden;
}
#procedureScreen .procedure__tipsSectionContent .card-title {
  margin-bottom: 20px;
}
#procedureScreen .procedure__tipsSectionContent .image3D {
  height: 55vh;
  width: auto;
  opacity: 0.3;
  position: absolute;
  transform: translateY(-70px) rotate(-20deg);
}

@media (max-width: 600px) {
  #procedureScreen h3 {
    font-size: 2.5rem !important;
  }
  #procedureScreen h4 {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: #2b2c2c;
  }
  #procedureScreen #procedureSection .procedure__timeLineContainer {
    width: 60px;
  }
  #procedureScreen #procedureSection .procedure__timeLineContainer .procedure__stepNumber--card {
    width: 60px;
    height: 60px;
  }
  #procedureScreen #procedureSection .procedure__timeLineContainer .procedure__stepNumber--card .procedure__stepNumber {
    font-size: 2.5rem;
  }
  #procedureScreen #procedureSection .procedure__timeLineContainer .procedure__lineContainer {
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 25px;
  }
  #procedureScreen #procedureSection .procedure__timeLineContainer .procedure__lineContainer .procedure__timeLine {
    background-color: #2b2c2c;
    height: 35vh;
    opacity: 0.8;
  }
  #procedureScreen #procedureSection .procedure__stepDescription {
    padding: 0 20px;
    flex-direction: column;
    transform: translateY(0);
  }
  #procedureScreen #procedureSection .procedure__stepDescription p {
    font-size: 1.5rem;
  }
  #procedureScreen #procedureSection .procedure__iconContainer .icon {
    height: 100%;
    margin: 30px;
  }
  #procedureScreen .procedure__tipsSectionContent {
    padding: 20px;
  }
  #procedureScreen .procedure__tipsSectionContent .card-title {
    font-size: 30px !important;
  }
  #procedureScreen .procedure__tipsSectionContent .btn-ver-mas {
    position: relative;
    z-index: 9999;
  }
}
#faqsSection {
  height: auto;
  padding: 10vh 0;
}
#faqsSection h3 {
  font-weight: 600;
  font-size: 3rem;
}
#faqsSection h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
  color: #ffffff;
}
#faqsSection .accordion-item {
  background-color: transparent;
  border: none;
}
#faqsSection .accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
#faqsSection .accordion-button,
#faqsSection .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}
#faqsSection .accordion-button,
#faqsSection .accordion-body {
  color: #ffffff;
}
#faqsSection .accordion-button {
  font-weight: 600;
  font-size: 2rem;
}
#faqsSection .faqsSection__titleContainer .accordion-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
#faqsSection .faqsSection__titleContainer .faqsSection__titleCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #dafeff;
  border: 10px solid #8092ff;
}
#faqsSection .accordion-body {
  font-size: 1.8rem;
  font-weight: 300;
  border-left: 10px solid #ffffff;
  margin-left: 23px;
  padding-left: 50px;
  padding-bottom: 0;
}
#faqsSection .accordion-body .faqsSection__desc {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 40px;
}
#faqsSection .accordion-body .faqsSection__desc a {
  text-decoration: underline;
  margin-top: 25px;
}

@media (max-width: 600px) {
  #faqsScreen #faqsSection {
    padding-top: 0;
  }
  #faqsScreen h4 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 5vh;
    color: #ffffff;
  }
  #faqsScreen .faqsSection__titleContainer .accordion-header {
    height: 15vh;
    margin-bottom: 0;
  }
  #faqsScreen .faqsSection__titleContainer .accordion-header .accordion-button {
    font-size: 1.4rem;
  }
  #faqsScreen .faqsSection__titleContainer .faqsSection__titleCircle {
    width: 50px;
    height: 50px;
    position: relative;
  }
  #faqsScreen .accordion-body {
    font-size: 1.5rem;
    margin-left: 18px;
    padding-left: 25px;
  }
  #faqsScreen .accordion-body .faqsSection__desc {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 40px;
    font-size: 1.4rem;
  }
}
#homeScreen #index__homeSection {
  background-image: linear-gradient(to right, #c6ac00, #fedd02);
}
#homeScreen #index__cvsSection {
  background: url("../../imgs/index-cvs-hero.png") no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}
#homeScreen #index__cvsSection .sectionDesc {
  margin-top: 10vh;
}
#homeScreen #index__cvsSection .btn-ver-mas {
  margin-top: 30px;
}
#homeScreen #index__procedureSection {
  background-image: linear-gradient(to right, #65c3d1, #98eaf6);
}
#homeScreen #index__tipsSection {
  background-image: linear-gradient(to right, #9f9e9e, #767676);
}
#homeScreen #index__faqsSection {
  background-image: linear-gradient(to top, #8092ff, #9ba8f7);
}
#homeScreen #index__homeSection .image3D {
  width: 100%;
  height: 70%;
  transform: translateX(100px) translateY(50px);
}
#homeScreen #index__procedureSection .image3D {
  width: 100%;
  height: 60%;
  transform: translateX(-100px);
}
#homeScreen #index__tipsSection .image3D {
  width: 100%;
  height: 70%;
  transform: translateX(-70px) translateY(40px);
}
#homeScreen #index__faqsSection .image3D {
  width: 140%;
  height: 100%;
  transform: translateX(-10px) translateY(40px);
}
#homeScreen #homeScreen footer {
  background-image: linear-gradient(to top, #8092ff, #9ba8f7);
}

@media (max-width: 600px) {
  #homeScreen .row {
    display: flex;
    position: relative;
  }
  #homeScreen .row .contentHero .image3D {
    width: 220%;
    left: 0;
    position: absolute;
    opacity: 0.5;
  }
  #homeScreen .row .contentInfo {
    height: auto;
    max-height: auto;
    position: absolute;
    z-index: 999;
  }
  #homeScreen #index__homeSection h1 {
    font-size: 3rem;
  }
  #homeScreen #index__homeSection .image3D {
    width: 200%;
    transform: translateX(40px);
  }
  #homeScreen #index__procedureSection .image3D {
    width: 220%;
  }
  #homeScreen #index__procedureSection .cvsSection__cvsInfo .sectionDesc {
    text-align: left;
    font-size: 2.3rem;
    padding: 0 10px;
  }
  #homeScreen #index__tipsSection .image3D {
    width: 200%;
    transform: translateY(40px) translateX(-150px);
    opacity: 0.3;
  }
  #homeScreen #index__tipsSection .cvsSection__cvsInfo .sectionDesc {
    text-align: left;
    font-size: 2.3rem;
    padding: 0 10px;
  }
  #homeScreen #index__faqsSection .image3D {
    width: 240%;
    transform: translateX(30px);
  }
  #homeScreen #index__faqsSection .cvsSection__cvsInfo .sectionDesc {
    text-align: left;
    font-size: 2.3rem;
    padding: 0 10px;
  }
  #homeScreen #index__cvsSection {
    height: 100vh;
  }

  .btn-ver-mas {
    width: 95%;
    padding: 20px 30px;
    margin-top: 0;
  }
}
.legalScreen {
  padding: 25vh 0;
  height: 100%;
  min-height: auto;
}
.legalScreen h3 {
  font-size: 2.8rem;
}
.legalScreen h4 {
  font-size: 2rem;
  margin-top: 40px;
}
.legalScreen p {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 20px 0;
}

#tipsScreen {
  background-image: linear-gradient(to bottom, #9f9e9e, #767676);
}
#tipsScreen #tipsSection {
  height: auto;
}
#tipsScreen #tipsSection h3 {
  font-weight: 600;
  font-size: 2rem;
}
#tipsScreen #tipsSection h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10vh;
  color: #ffffff;
}
#tipsScreen .articleTitle,
#tipsScreen .articleDesc {
  color: #ffffff;
}
#tipsScreen .articleTitle {
  font-size: 2rem;
}
#tipsScreen .articleDesc {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 20px;
}
#tipsScreen .tips__tipCard {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: #9f9e9e;
  border: none;
}
#tipsScreen .tips__tipCard .alignMiddleY {
  height: 50vh;
  min-height: 50vh;
}
#tipsScreen .tips__tipCard .card-header {
  padding: 30px 30px 0;
}
#tipsScreen .tips__tipCard .card-body {
  padding: 0 30px 30px;
}
#tipsScreen .tips__tipCard .card-header,
#tipsScreen .tips__tipCard .card-footer {
  width: 100%;
  border: none;
  background-color: transparent;
}
#tipsScreen .tips__tipCard .card-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px 0;
}
#tipsScreen .tips__tipCard .card-footer .customBtn {
  color: #ffffff;
}
#tipsScreen .tips__tipCard .tips__cvImage {
  padding-left: 30px;
}
#tipsScreen .tips__tipCard figure,
#tipsScreen .tips__tipCard img {
  width: 300px;
  margin-top: 10px;
}
#tipsScreen #tips__mediumSection {
  height: auto;
  padding: 15vh 0;
}
#tipsScreen #tips__mediumSection p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10vh;
}
#tipsScreen #tips__mediumSection .tips__mediumSection--article {
  background-color: transparent;
  border: none;
  box-shadow: none;
  transition: 0.2s ease-in-out;
}
#tipsScreen #tips__mediumSection .tips__mediumSection--article:hover .tips__mediumSection--imgContainer .tips__mediumSection--img {
  filter: grayscale(0%);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#tipsScreen #tips__mediumSection .tips__mediumSection--article .tips__mediumSection--imgContainer {
  overflow: hidden;
  max-height: 30vh;
}
#tipsScreen #tips__mediumSection .tips__mediumSection--article .tips__mediumSection--imgContainer .tips__mediumSection--img {
  filter: grayscale(100%);
}
#tipsScreen #tips__mediumSection .tips__mediumSection--article .card-body {
  padding: 0;
}
#tipsScreen #tips__mediumSection .tips__mediumSection--article .card-body .articleTitle {
  margin: 20px 0;
}
#tipsScreen #tips__mediumSection .tips__mediumSection--article .btn-medium {
  display: block;
  padding-bottom: 15px;
  border-color: #ffffff;
}
#tipsScreen #tips__mediumSection .tips__mediumSection--article .btn-medium:hover {
  border: 1px solid #2b2c2c;
}
#tipsScreen #tips__mediumSection .tips__mediumSection--article .btn-medium .arrow-btn {
  transform: translateY(7px);
}
#tipsScreen .col-md-8,
#tipsScreen .col-md-4,
#tipsScreen .col-md-12 {
  padding: 0;
}

.btnOpenModal {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.btnOpenModal .customBtn {
  color: #ffffff;
}

@media (max-width: 600px) {
  #tipsScreen #tipsSection {
    margin-top: 0 !important;
  }
  #tipsScreen #tipsSection .tips__tipCard {
    min-height: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 20px;
    background-color: #9f9e9e;
    border: none;
    margin-left: 0 !important;
  }
  #tipsScreen #tipsSection .tips__tipCard .tips__cvImage {
    padding-right: 0;
  }
  #tipsScreen #tipsSection .tips__tipCard .articleDesc {
    margin-bottom: 20px;
  }
  #tipsScreen h3 {
    font-size: 2.5rem !important;
  }
  #tipsScreen h4 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 10vh;
    color: #ffffff;
  }
  #tipsScreen .marginTop4 {
    margin-top: 20px;
  }
  #tipsScreen #tips__mediumSection {
    padding: 8vh 0;
  }
  #tipsScreen #tips__mediumSection .tips__mediumSection--article {
    margin-right: 0 !important;
    margin-bottom: 10vh;
  }
}
#cvsScreen {
  background-image: linear-gradient(to bottom, #ffffff, #3c3d4019);
}
#cvsScreen #cvsSection {
  height: auto;
  margin-top: 20vh;
}
#cvsScreen #cvsSection h3 {
  font-weight: 600;
  font-size: 3rem;
}
#cvsScreen #cvsSection h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
  color: #2b2c2c;
}
#cvsScreen .hashtagsList .tag:nth-child(1) {
  margin-left: 0;
}
#cvsScreen .cvs__article--standard .imgCv {
  width: 55%;
  background-color: #ffffff;
}
#cvsScreen .cvs__article--it .imgCv {
  width: 65%;
}
#cvsScreen .cvs__article--adm .imgCv {
  width: 60%;
}
#cvsScreen .cvs__article {
  height: 100vh;
  margin: 3rem 0;
  border-radius: 20px;
  overflow: hidden;
  background-color: transparent;
}
#cvsScreen .cvs__article .card-body {
  padding: 0 50px;
}
#cvsScreen .cvs__article .article__info h2 {
  font-weight: 600;
}
#cvsScreen .cvs__article .article__info .btn-ver-mas {
  margin-top: 20px;
}
#cvsScreen .cvs__article .article__img {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  #cvsSection {
    margin-top: 0 !important;
  }
  #cvsSection h3 {
    font-size: 2.5rem !important;
  }
  #cvsSection h4 {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: #2b2c2c;
  }
  #cvsSection .cvs__article {
    height: auto;
    margin-bottom: 20px;
  }
  #cvsSection .cvs__article .card-body {
    padding: 0 30px;
  }
  #cvsSection .cvs__article .alignMiddleY {
    height: auto;
  }
  #cvsSection .cvs__article .imgCv {
    width: 90%;
    margin: 30px 0;
  }
  #cvsSection .cvs__article--it .row {
    display: flex;
  }
  #cvsSection .cvs__article--it .row .article__info-container {
    order: 2;
  }
}/*# sourceMappingURL=main.css.map */