// desk pc escritorio de 20
$deskXL: "(min-width: 1500px)";
// desk más grandes
$desk: "(min-width: 1200px)";
// desk común 
$note: "(min-width: 992px)";
// tablet
$tablet: "(min-width: 768px)";
// mobile 
$mobile: "(max-width: 600px)";
// mobile small
$mobileSm: "(min-width: 576px)";