.bottom-sheet-contact {
  height: 80vh;
  max-height: 80vh;
  background-color: $tagColor;

  .offcanvas-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .btn-close-contact {
      i {
        padding: 8px;
        border-radius: 30px;
        background-color: $secondaryColor;
        color: $whiteColor;
        font-size: 15px;
      }
    }
  }

  .offcanvas-body {
    overflow: scroll;
    figure {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .image3D {
      width: 60%;
      position: relative;
      transform: translateY(100px);
      opacity: 0.3;
    }
  }
}

@media #{$note} {
}

@media #{$tablet} {
}

@media #{$mobileSm} {
}

@media #{$mobile} {
  .bottom-sheet-contact {
    .offcanvas-body {
      .image3D {
        display: none;
      }
    }
  }
}
