@import "../base/dimens";
@import "../base/theme";
@import "../base/variables";

footer {
  padding: 3rem 0;
  z-index: 9 !important;

  p,
  a,
  h1 {
    color: $primaryTextColor;
  }

  .footer__contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer__brand-container,
  .footer__nav {
    transform: translateY(8px);
  }

  .footer__btn-contact.customBtn {
    padding: 10px 15px;
    margin: 0;

    i {
      margin-right: 10px;
    }
  }

  .footer__contact-container {
    display: flex;
  }

  .footer__social-networks {
    transform: translateY(16px);
    margin-left: 20px;
  }

  .socialMediaLink a i {
    font-size: $base_icon_size_footer;
  }

  .footer__nav-list {
    display: flex;
  }

  .footer__social-networks,
  .footer__nav-list {
    li {
      margin-right: 20px;
    }
  }

  .footer__nav-list {
    li {
      a:hover {
        color: $secondaryLightColor;
      }
    }
  }

  .copyright__separator {
    margin: 0 10px;
  }

  .footer__btn-contact.customBtn {
    &:hover {
      border: 1px solid $secondaryColor;

      p,
      i {
        color: $whiteColor;
      }
    }
  }
}

#tipsScreen,
#faqsScreen {
  .footer__btn-contact.customBtn {
    border-color: $whiteColor;

    &:hover {
      border: 1px solid $secondaryColor;
    }
  }
}

@media #{$note} {
}

@media #{$tablet} {
}

@media #{$mobileSm} {
}

@media #{$mobile} {
  footer {
    padding: 0;

    .footer__social-networks {
      transform: translateY(11px);
      margin-left: 40px;

      .socialMediaLink a i {
        font-size: 2rem;
        padding-right: 20px;
      }
    }

    .footer__nav-list {
      margin-bottom: 10px;
    }

    .footer__nav-list,
    .footer__copyright-container {
      display: flex;
      flex-direction: column;

      li a {
        font-size: 1.5rem;
        line-height: 60px;
      }

      .copyright {
        margin: 30px 0;
      }
    }

    .footer__contact-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .footer__btn-contact {
        margin: 30px 0;
      }

      .footer__copyright-container {
        .alignX {
          @include aligment(flex-start, column, flex-start);
        }
      }
    }
  }

  .copyright__separator {
    display: none;
  }

  .footerTerms {
    display: block;
  }
}
