form {
  margin-right: 10vh;

  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $ask_circle;
    display: block;
    border-radius: 0;
    margin-bottom: 15px;
  }
}

.ocult {
  display: none;
  opacity: 0;
}

label {
  margin-bottom: 0.2rem;
  padding-left: 0;
  font-weight: 300;
  color: $ask_circle;
  font-size: 1rem;
}

.form-control.active,
.form-control:focus {
  background-color: transparent !important;
  border: none;
}

.btn-submit {
  margin-top: 8px;
  border: 2px solid #52cec2;
  font-size: 14px;
  color: #52cec2;
}
.btn-submit.disabledState {
  border: 2px solid #c4c1c1 !important;
  color: #c4c1c1 !important;
}

.btn-submit.hoverState:hover,
.btn-submit.hoverState:active,
.btn-submit.hoverState:focus {
  background-color: #52cec2 !important;
  border-color: #52cec2 !important;
  color: #ffffff;
}

/* desk pc escritorio de 20 */
@media only screen and (min-width: 1500px) {
}
/* desk notebook*/
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
}
/* desk notebooks más chicas (marhis) */
@media only screen and (min-width: 993px) and (max-width: 1199px) {
}
/* tablet o iPad */
@media only screen and (min-width: 601px) and (max-width: 992px) {
}
/* mobile */
@media only screen and (max-width: 600px) {
  form {
    padding-bottom: 0 !important;
  }
  .btn-submit,
  .btn-submit,
  .btn-submit {
    background-color: transparent !important;
    border-color: #52cec2 !important;
    color: #52cec2 !important;
  }
  .btn-submit.hoverState:hover,
  .btn-submit.hoverState:active,
  .btn-submit.hoverState:focus {
    background-color: #52cec2 !important;
    border-color: #52cec2 !important;
    color: #ffffff !important;
  }
  .btn-submit:hover,
  .btn-submit:active,
  .btn-submit:focus {
    background-color: transparent !important;
    border-color: #52cec2 !important;
    color: #52cec2 !important;
  }
}

#loaders {
  text-align: center;
}

#loaders img {
  width: 150px;
  margin: 0 auto;
  /* display: none; */
}

#spinner {
  display: none;
}

.spinner-grow {
  background-color: #52cec2 !important;
}

.send-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  display: none;
  background-color: none;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.send-overlay.showLoading {
  position: fixed;
  opacity: 1;
  display: block;
  background-color: rgba(0, 0, 0, 0.66);
  z-index: 9999999999;
  transition: 0.3s ease-in-out;
}

.progress-content {
  margin-top: 20%;
  margin-bottom: 20%;
}

.sended-container {
  transform: translateY(0);
  display: block;
  opacity: 1;
}

.sended-container.ocult {
  transform: translateY(-20px);
  display: none;
  opacity: 0;
}

.sended-message {
  padding: 20px;
  margin-bottom: 18px;
  background-color: red;
}

.sended-message h4 {
  color: white;
  margin: 0;
  font-size: 25px;
  font-weight: 500;
}
.sended-message p {
  margin: 0;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  font-weight: 200;
}
