.navbar {
  height: 20vh;
  min-height: 20vh;
  @include getTransition;

  .navbar-brand {
    align-items: center;

    .brand-logo {
      height: 50px;
      margin-right: 15px;
    }

    h3 {
      margin: 0;
      font-size: 1.8rem;
    }
  }

  .navLink {
    padding: 10px 20px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
    color: $blackColor;
    @include getTransition;

    &:hover {
      background-color: $translucent;
    }
  }

  &.changeState {
    height: 12vh;
    min-height: 12vh;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    @include getTransition;

    .brand-logo {
      transform: scale(0.7);
      margin-right: 12px;
      @include getTransition;
    }
  }
}

@each $section in $section_types {
  ##{$section} {
    @if $section == "homeScreen" {
      .navbar {
        .navLink {
          &.changeState {
            color: $whiteColor;
          }
        }

        &.changeState {
          background-color: rgba(0, 0, 0, 0.27);
          backdrop-filter: blur(20px);

          .brand-logo {
            &.invert {
              filter: brightness(0) invert(1);

              .navLink {
                color: $whiteColor;
              }
            }
          }

          .arrow-to-top {
            i {
              color: $whiteColor;
            }
          }
        }
      }
    } @else if $section == "cvsScreen" {
      .navbar {
        &.changeState {
          background-color: $whiteColor;
        }
      }
    } @else if $section == "procedureScreen" {
      .navbar {
        &.changeState {
          background-color: $como-lo-hago-light;
        }
      }
    } @else if $section == "tipsScreen" {
      .navbar {
        &.changeState {
          background-color: $tips-light;
        }
      }
    } @else if $section == "faqsScreen" {
      .navbar {
        &.changeState {
          background-color: $preguntas-dark;
        }
      }
    } @else {
      .navbar {
        &.changeState {
          background-color: $whiteColor;
        }
      }
    }
  }
}

@media #{$note} {
  .navbar-nav {
    display: flex !important;
  }
}

@media #{$tablet} {
  .navbar-nav {
    display: none;
  }
}

@media #{$mobileSm} {
  .navbar-nav {
    display: none;
  }
}

@media #{$mobile} {
  .navbar {
    padding: 0;
    height: auto;
    min-height: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

    .navbar-brand {
      .brand-logo {
        height: 35px;
        margin-right: 10px;
      }

      h3 {
        display: none;
      }
    }

    &.changeState {
      height: auto;
      min-height: auto;
      backdrop-filter: blur(20px);

      .brand-logo {
        transform: none;
        margin-right: 12px;
        @include getTransition;
      }
    }
  }

  .navbar-nav {
    display: none;
  }
}
