.navLink {
    padding: 10px 20px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
    
    // transform: translateX(30px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    backdrop-filter: blur(15px);
}
