// Main theme project

$primaryLightColor: #ffff54;
$primaryColor: #fedd02;
$primaryDarkColor: #c6ac00;
$secondaryColor: #2b2c2c;
$secondaryLightColor: #42579d;
$secondaryDarkColor: #2c3e77;

$como-lo-hago-light: #98eaf6;
$como-lo-hago-dark: #65c3d1;
$tips-light: #9f9e9e;
$tips-dark: #767676;
$preguntas-light: #9ba8f7;
$preguntas-dark: #8092ff;

$primaryTextColor: #2b2c2c;
$secondaryTextColor: #42579d;

$tagColor: #3c3d40;
$separatorColor: #eceff1;
$disableColor: #b0bec5;
$successColor: #3cccc3;
$errorColor: #e04f40;
$iconColor: #627f8c;
$blackColor: #000000;
$whiteColor: #ffffff;
$translucentWhiteColor: #f0eeee3e;
$translucent: #3c3d4019;
$ask_circle: #dafeff;
