// Main theme project

$primaryLightColor: #ffff54;
$primaryColor: #FEDD02;
$primaryDarkColor: #c6ac00;
$secondaryColor: #022F6E;
$secondaryLightColor: #42579d;
$secondaryDarkColor: #2c3e77;

$como-lo-hago-light: #98EAF6;
$como-lo-hago-dark: #65c3d1;
$tips-light: #8C8C8C;
$tips-dark: #767676;
$preguntas-light: #919EF0;
$preguntas-dark: #8092FF;

$primaryTextColor: #022F6E;
$secondaryTextColor: #42579d;

$tagColor: #3C3D40;
$separatorColor: #ECEFF1;
$disableColor: #B0BEC5;
$successColor: #3CCCC3;
$errorColor: #E04F40;
$iconColor: #627F8C;
$blackColor: #000000;
$whiteColor: #ffffff;
$translucentWhiteColor: #f0eeee3e;
$translucent: #3c3d4019;

// Tipography
$main_typo: 'Raleway', sans-serif;