#procedureScreen {
  @include gradientBackground(bottom, $como-lo-hago-light, $como-lo-hago-dark);

  #procedureSection {
    height: auto;
    .procedure__timeLineContainer {
      display: flex;
      flex-direction: column;
      position: relative;

      .procedure__stepNumber--card {
        width: 100px;
        height: 100px;
        @extend %cardProps;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .procedure__stepNumber {
          font-size: $h2;
          position: absolute;
        }
      }

      .procedure__lineContainer {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        .procedure__timeLine {
          background-color: $primaryTextColor;
          width: 8px;
          height: 50px;
          margin: 25px 0;
        }
      }
    }

    .procedure__stepDescription {
      padding: 0 50px;
      p {
        font-size: 1.5rem;
      }
    }

    .procedure__iconContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        height: 150px;
        width: auto;
        display: inline;
        margin-left: 50px;
      }
    }
  }

  .procedure__tipsSectionContent {
    @extend %cardProps;
    padding: 30px;
    margin: 10vh 0;
    border: none;
    overflow: hidden;

    .card-title {
      margin-bottom: 20px;
    }

    .image3D {
      height: 55vh;
      width: auto;
      opacity: 0.3;
      position: absolute;
      transform: translateY(-70px) rotate(-20deg);
    }
  }
}

@media #{$note} {
}

@media #{$tablet} {
}

@media #{$mobileSm} {
}

@media #{$mobile} {
  #procedureScreen {
    h3 {
      font-size: 2.5rem !important;
    }

    h4 {
      font-size: 5rem;
      font-weight: 300;
      margin-bottom: 20px;
      color: $primaryTextColor;
    }

    #procedureSection {
      .procedure__timeLineContainer {
        width: 60px;
        .procedure__stepNumber--card {
          width: 60px;
          height: 60px;

          .procedure__stepNumber {
            font-size: 2.5rem;
          }
        }

        .procedure__lineContainer {
          align-items: flex-start;
          justify-content: flex-start;
          margin-left: 25px;
          .procedure__timeLine {
            background-color: $primaryTextColor;
            height: 30vh;
            opacity: 0.8;
          }
        }
      }

      .procedure__stepDescription {
        padding: 0;
        p {
          font-size: 1.5rem;
        }
      }

      .procedure__iconContainer {
        .icon {
          margin: 30px;
        }
      }
    }
    .procedure__tipsSectionContent {
      padding: 20px;
    }
  }
}
