#cvsScreen {
  @include gradientBackground(bottom, $whiteColor, $translucent);

  #cvsSection {
    height: auto;
    margin-top: 20vh;

    h3 {
      font-weight: 600;
      font-size: 3rem;
    }

    h4 {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 20px;
      color: $primaryTextColor;
    }

    .article__info {
      h3 {
        font-weight: 600;
        font-size: 3rem;
      }

      .sectionDesc {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 20px;
      }
    }
  }

  .hashtagsList .tag:nth-child(1) {
    margin-left: 0;
  }

  .cvs__article {
    height: 100vh;
    margin: 3rem 15px;
    padding: 2rem;
    border-radius: 20px;

    .article__info {
      margin-left: 3rem;

      h2 {
        font-weight: 600;
      }

      .btn-ver-mas {
        margin-top: 20px;
      }
    }

    .article__img {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
