#tipsScreen {
  @include gradientBackground(bottom, $tips-light, $tips-dark);

  #tipsSection {
    height: auto;

    h3 {
      font-weight: 600;
      font-size: 2rem;
    }

    h4 {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 10vh;
      color: $whiteColor;
    }
  }

  .articleTitle,
  .articleDesc {
    color: $whiteColor;
  }

  .articleTitle {
    font-size: $header3;
  }

  .articleDesc {
    font-size: 1.4rem;
    font-weight: $base_text_weight;
    margin-top: 20px;
  }

  .tips__tipCard {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    background-color: $tips-light;
    border: none;

    .alignMiddleY {
      height: 50vh;
      min-height: 50vh;
    }

    .card-header {
      padding: 30px 30px 0;
    }

    .card-body {
      padding: 0 30px 30px;
    }

    .card-header,
    .card-footer {
      width: 100%;
      border: none;
      background-color: transparent;
    }

    .card-footer {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding: 10px 0;

      .customBtn {
        color: $whiteColor;
      }
    }

    .tips__cvImage {
      padding-left: 30px;
    }
  }

  .tips__tipCard figure,
  .tips__tipCard img {
    width: 300px;
    margin-top: 10px;
  }

  #tips__mediumSection {
    height: auto;
    padding: 15vh 0;

    p {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 10vh;
    }

    .tips__mediumSection--article {
      background-color: transparent;
      border: none;
      box-shadow: none;
      transition: 0.2s ease-in-out;

      &:hover {
        .tips__mediumSection--imgContainer {
          .tips__mediumSection--img {
            filter: grayscale(0%);
            cursor: pointer;
            transition: 0.2s ease-in-out;
          }
        }
      }

      .tips__mediumSection--imgContainer {
        overflow: hidden;
        max-height: 30vh;

        .tips__mediumSection--img {
          filter: grayscale(100%);
        }
      }

      .card-body {
        padding: 0;

        .articleTitle {
          margin: 20px 0;
        }
      }

      .btn-medium {
        display: block;
        padding-bottom: 15px;
        border-color: $whiteColor;

        &:hover {
          border: 1px solid $secondaryColor;
        }

        .arrow-btn {
          transform: translateY(7px);
        }
      }
    }
  }

  .col-md-8,
  .col-md-4,
  .col-md-12 {
    padding: 0;
  }
}

.btnOpenModal {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  .customBtn {
    color: $whiteColor;
  }
}

@media #{$note} {
}

@media #{$tablet} {
}

@media #{$mobileSm} {
}

@media #{$mobile} {
  #tipsScreen {
    #tipsSection {
      margin-top: 0 !important;

      .tips__tipCard {
        min-height: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
        border-radius: 20px;
        background-color: $tips-light;
        border: none;
        margin-left: 0 !important;

        .tips__cvImage {
          padding-right: 0;
        }

        .articleDesc {
          margin-bottom: 20px;
        }
      }
    }
    h3 {
      font-size: 2.5rem !important;
    }

    h4 {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 10vh;
      color: $whiteColor;
    }

    .marginTop4 {
      margin-top: 20px;
    }

    #tips__mediumSection {
      padding: 8vh 0;

      .tips__mediumSection--article {
        margin-right: 0 !important;
        margin-bottom: 10vh;
      }
    }
  }
}
